<div class="container">

	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 text-center app_name">
			<h2> {{appSettings.title}}</h2>
		</div>
		<div class="col-sm-2">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			Search by customer: <input type='text' ng-model='customerFilter.name'/>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			(click on category to sort data)
		</div>
	</div>
			
	<div class="row">
		<div class="col-sm-12 table_row">
			<table class="table-bordered display">
				<tr>
					<th ng-click="doSort('name')">Name</th>
					<th ng-click="doSort('city')">City</th>
					<th ng-click="doSort('orderTotal')">Order Total</th>
					<th ng-click="doSort('joined')">Joined</th>
					<th class="no_pointer"></th>
					<th class="no_pointer"></th>
				</tr>

				<tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
					<td>{{cust.name | uppercase}}</td>
					<td>{{cust.city | lowercase}}</td>
					<td>{{cust.orderTotal | currency}}</td>
					<td>{{cust.joined | date}}</td>
					<td> <a href="#/orders/{{cust.id}}"> View Orders</a></td>
					<td><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			<span> Total customers: {{customers.length}} </span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
			<footer>App version:{{appSettings.version}}</footer>
		</div>
	</div>
	

	
</div>
